<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testngsuite">
 <listeners>
    <listener class-name="Selenium.Demp14_Listeners" />
  </listeners>
  <test thread-count="5" name="Test" parallel="false">
    <classes>
      <class name="com.test.testng.Demo13_TestClass_POM"/>
      <class name="com.test.testng.Demo6_FileUploading"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- testngsuite -->
